<% content_for(:page_header) do %>
  <%= "Plant details" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Plant Name</th>
      <th>Threshold</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @plant.name %></td>
      <td><%= @plant.threshold %></td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th>Sensor ID</th>
      <th>Sensor Reading</th>
    </tr>
  </thead>
  <tbody>
    <% @plant.readings.each do |reading| %>
      <tr class="<%= "danger" if ("#{reading.value}" > "#{@plant.threshold}") %>">
        <td><%= "#{reading.sensor.id}" %></td>
        <td><%= "#{reading.value}" %></td>
      </tr>
    <% end %>
  </tbody>

</table>
